*.apk
DoorApp_Android/gen
DoorApp_Android/out
DoorApp_iOS/.DS_Store

*.xcuserstate

*.ino~

DoorServer/serial/.DS_Store

DoorServer/serial/.DS_Store

DoorApp_Android/.DS_Store

DoorServer/.DS_Store

DoorApp_Android/.idea/workspace.xml
